* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
  color: white;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #222;
  /* color: white; */
}

.logo {
  font-size: 20px;
}

.nav-links a{
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.main-section{
  display: flex;
  flex-direction: row;
  padding: 40px;
  gap: 40px;
}

.left-side img{
  width: 100%;
  max-width: 800px;
  /* border-radius: 10px; */
}

.title-block {
  margin-bottom: 20px;
}

.title-line{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.title-my {
  font-size: 100px;
  font-weight: bold;
  color: white;
}
.line{
  flex-grow: 1;
  height: 2px;
  background-color: white;
  opacity: 0.5;
}
.title-main{
  font-size: 100px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  line-height: 1.1;
}
.buttons {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.explore-btn, .video-btn {
  padding: 1px 5px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}

.video-btn {
  background-color: transparent;
  color: white;
  /* border: 2px solid white; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.icon svg{
  fill: currentColor;
}

.projects-section{
  padding: 60px 40px;
  background-color: #111;
  color: white;
}

.projects-hero{
  display: flex;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 40px;
}

.projects-left-image{
  width: 80px;
  object-fit: cover;
}

.projects-content{
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.projects-top-image{
  width: 90%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: -250px;
  object-fit: cover;
 
}

.projects-title{
  font-size: 36px;
  font-weight: 700px;
  margin: 20px;
}

.underline{
  display: inline-block;
  margin-top: -30px;
  width: 80px;
  height: 2px;
  margin-left: 8px;
  background-color: white;
  opacity: 0.6;
  vertical-align: middle;
}

.projects-description{
  color: #ccc;
  font-size: 16px;
  line-height: 1.6;
}
.projects-row{
  display: flex;
  gap: 20px;
}
.project-card{
  flex: 1;
  min-width: 0;
  height: 220px;
  object-fit: cover;
}